@model IEnumerable<CCSVSystem.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="d-flex justify-content-between">
    <p class="display-6">@ViewData["Title"]</p>
    <div class="align-self-center">
        <button type="button" class="btn buttonprimary" data-url="@Url.Action("NuevoPedidoModal")" data-toggle="ajax-modal" data-target="#NuevoPedido"><i class="bi bi-plus-lg"></i> <a class="whitetextbtn">Nuevo </a></button>
    </div>

</div>
<table class="table accordion">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.idPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaOrdenado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaRecibido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalProductosPedido)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.totalImportePedido)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.totalPedido)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.stockPedido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            var id = "r" + (i++);
            <tr class="align-middle">

                <td>
                    @Html.DisplayFor(modelItem => item.idPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.proveedor.nombreProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaOrdenado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaRecibido)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.totalProductosPedido)
                </td>
                <td class="text-center">
                    $@Html.DisplayFor(modelItem => item.totalImportePedido)
                </td>
                <td class="text-center">
                    $@Html.DisplayFor(modelItem => item.totalPedido)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.stockPedido)
                </td>
                <td class="text-center">
                  @*  <button type="button" class="btn buttonsecondary" data-bs-toggle="collapse" data-bs-target="#@id">
                        <i class="bi bi-currency-dollar"></i>
                    </button>
                    <button type="button" class="btn buttonprimary" data-url="@Url.Action("NuevoPrecioPedido", new { idPedido = modelItem.idPedido, nombrePedido = modelItem.nombrePedido})" data-toggle="ajax-modal" data-target="#NuevoPrecioPedido">
                        <i class="bi bi-bag-plus-fill"></i>
                    </button>
                    <button type="button" class="btn btn-info" style="color:white;" data-toggle="ajax-modal" data-target="#EditarPedido" data-url="@Url.Action("EditarPedidoModal", new { idPedido = modelItem.idPedido })">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    @if (modelItem.preciosPedido.Count == 0)
                    {
                        <button type="button" class="btn btn-danger" onclick="EliminarRegistro('@modelItem.idPedido','esta paquetería','@ViewBag.UrlAPI')">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    }*@
                </td>
            </tr>         
          @*  <tr class="collapseContainingDiv">
                <td colspan="5">
                    <div class="collapse accordion-collapse pt-2 pb-2 actualmodelItem" id='@id' style="width:95%; margin:0 auto;" onclick="NotClosed('@id')">
                        <div class="align-self-center pt-2 pb-2 card" style="width:100%;">
                            @if (modelItem.preciosPedido.Count != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                @Html.DisplayNameFor(model => model.pp.esPedidoRecurrente)
                                            </th>
                                            <th class="text-center">
                                                @Html.DisplayNameFor(model => model.pp.fechaCompra)
                                            </th>
                                            <th class="text-center">
                                                @Html.DisplayNameFor(model => model.pp.stockTotalCompradoPedido)
                                            </th>
                                            <th class="text-center">
                                                @Html.DisplayNameFor(model => model.pp.compraTotalPedido)
                                            </th>
                                            <th class="text-center">
                                                @Html.DisplayNameFor(model => model.pp.precioUnidadPedido)
                                            </th>
                                            <th class="text-center">
                                                @Html.DisplayNameFor(model => model.pp.fechaInicioUso)
                                            </th>
                                            <th class="text-center">
                                                @Html.DisplayNameFor(model => model.pp.fechaFinUso)
                                            </th>
                                            <th class="text-center">
                                                Acciones
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var pps in modelItem.preciosPedido)
                                        {
                                            <tr class="align-middle">
                                                <td class="text-center">
                                                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" checked="@(pps.esPedidoRecurrente)" onclick="this.checked=!this.checked;">
                                                </td>
                                                <td class="text-center">
                                                    @pps.fechaCompra.Value.ToString("dd/MMMM/yyyy")
                                                </td>
                                                <td class="text-center">
                                                    @pps.stockTotalCompradoPedido
                                                </td>
                                                <td class="text-center">
                                                    $@String.Format("{0:0.00}", pps.compraTotalPedido)
                                                </td>
                                                <td class="text-center">
                                                    $@String.Format("{0:0.00}", pps.precioUnidadPedido)
                                                </td>
                                                <td class="text-center">
                                                    @(!pps.fechaInicioUso.Value.ToString("dd/MMMM/yyyy").Equals("01/enero/2000") ? pps.fechaInicioUso.Value.ToString("dd/MMMM/yyyy") : "Sin empezar")
                                                </td>
                                                <td class="text-center">
                                                    @if (pps.fechaFinUso.Value.ToString("dd/MMMM/yyyy").Equals("01/enero/2000"))
                                                    {
                                                        @if (pps.fechaInicioUso.Value.ToString("dd/MMMM/yyyy").Equals("01/enero/2000"))
                                                        {
                                                            @("Sin empezar")
                                                            ;
                                                        }
                                                        else
                                                        {
                                                            <span class="badge rounded-pill pill2">EN USO</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @pps.fechaFinUso.Value.ToString("dd/MMMM/yyyy")
                                                        ;
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (pps.fechaFinUso.Value.ToString("dd/MMMM/yyyy").Equals("01/enero/2000") && !pps.fechaInicioUso.Value.ToString("dd/MMMM/yyyy").Equals("01/enero/2000"))
                                                    {
                                                        <button type="button" class="btn btn-outline-warning buttonclear" style="border-color: transparent;" data-toggle="ajax-modal" data-target="#TerminarStock" data-url="@Url.Action("TerminarStock", new { idPrecioPedido = pps.idPrecioPedido,  nombrePedido= modelItem.nombrePedido, idPedido = pps.idPedido   })">
                                                            <i class="bi bi-exclamation-circle-fill"></i>
                                                        </button>
                                                    }
                                                    else if (pps.fechaFinUso.Value.ToString("dd/MMMM/yyyy").Equals("01/enero/2000") && pps.fechaInicioUso.Value.ToString("dd/MMMM/yyyy").Equals("01/enero/2000"))
                                                    {
                                                        <button type="button" class="btn btn-outline-success buttonclear" style="border-color: transparent;" data-toggle="ajax-modal" data-target="#TerminarStock" data-url="@Url.Action("EmpezarStock", new { idPrecioPedido = pps.idPrecioPedido,  nombrePedido= modelItem.nombrePedido, idPedido = pps.idPedido   })">
                                                            <i class="bi bi-unlock-fill"></i>
                                                        </button>
                                                    }
                                                    <button type="button" class="btn btn-outline-info buttonclear" style="border-color: transparent;" data-toggle="ajax-modal" data-target="#EditarPrecioPedido" data-url="@Url.Action("EditarPrecioPedido", new { idPrecioPedido = pps.idPrecioPedido, nombrePedido= modelItem.nombrePedido})">
                                                        <i class="bi bi-pencil-fill"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-danger buttonclear" style="border-color: transparent;" onclick="EliminarRegistro('@pps.idPrecioPedido','este stock','@ViewBag.UrlAPIPP')">
                                                        <i class="bi bi-trash-fill"></i>
                                                    </button>


                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p class="text-center pt-3">Esta paquetería no tiene stock registrado.</p>
                            }
                        </div>
                    </div>
                </td>
            </tr>*@
        }
    </tbody>
</table>


<script>
    function EliminarRegistro(idPedido, frase, url) {
        const options = {
            method: 'DELETE'
        }
        var url = url + idPedido;
        Swal.fire({
            title: '¿Desea eliminar ' + frase + '?',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            showLoaderOnConfirm: true,
            preConfirm: (id) => {
                return fetch(url, options)
                    .then(response => {
                        console.log(response);
                        if (!response.ok) {
                            throw new Error(response.statusText)
                        }
                        return response.json()
                    })
                    .catch(error => {
                        Swal.showValidationMessage(
                            `Request failed: ${error}`
                        )
                    })
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    title: '¡Eliminado con éxito!',
                    showConfirmButton: false,
                    timer: 1500
                }).then((result) => {
                    window.location.reload();
                })
            }
        })
    }


</script>

