@model IEnumerable<CCSVSystem.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="d-flex justify-content-between">
    <p class="display-6">@ViewData["Title"]</p>
    <div class="align-self-center">
        <button type="button" class="btn buttonprimary" data-url="@Url.Action("NuevoPedidoModal")" data-toggle="ajax-modal" data-target="#NuevoPedido"><i class="bi bi-plus-lg"></i> <a class="whitetextbtn">Nuevo </a></button>
    </div>

</div>
<table class="table accordion">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.idPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proveedor)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.fechaOrdenado) - @Html.DisplayNameFor(model => model.fechaRecibido)
            </th>
            <th class="text-center">
               Tiempo
            </th>         
            <th class="text-center">
                @Html.DisplayNameFor(model => model.totalPedido)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.totalImportePedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalProductosPedido)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.stockPedido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            var id = "r" + (i++);
            <tr class="align-middle">

                <td>
                    @Html.DisplayFor(modelItem => item.idPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.proveedor.nombreProveedor)
                </td>
                <td class="text-center">
                    @item.fechaOrdenado.Value.ToString("dd/MMM/yyyy").Replace(".","") -
                    @if (item.fechaRecibido.Value.ToString("dd/MMMM/yyyy").Equals("01/enero/2000"))
                    {
                        <span class="badge rounded-pill pill2">EN TRANSITO</span>
                    }
                    else
                    {
                       @item.fechaRecibido.Value.ToString("dd/MMM/yyyy").Replace(".","")
                    }
                </td>
                <td class="text-center">
                    <span class="badge rounded-pill pill">
                        @Html.DisplayFor(modelItem => item.TiempoPromedio) @(item.TiempoPromedio != 1 ? " días" : " día")</span>
                </td>             
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.totalPedido)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.totalImportePedido)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.totalProductosPedido)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.stockPedido)
                </td>
                <td class="text-center">
                    <button type="button" class="btn buttonsecondary" data-bs-toggle="collapse" data-bs-target="#@id">
                        <i class="bi bi-box-seam-fill"></i>
                    </button>
                    <button type="button" class="btn buttonprimary" data-url="@Url.Action("AgregarProducto","Productos", new { idPedido = item.idPedido})" data-toggle="ajax-modal" data-target="#AgregarProducto">
                        <i class="bi bi-cart-plus-fill"></i>
                    </button>
                    <button type="button" class="btn btn-primary" data-url="@Url.Action("CalcularImportacion","Pedidos", new { idPedido = item.idPedido})" data-toggle="ajax-modal" data-target="#CalcularImportacion">
                        <i class="bi bi-airplane-fill"></i>
                    </button>
                        <button type="button" class="btn btn-info" style="color:white;" data-toggle="ajax-modal" data-target="#ModificarPedido" data-url="@Url.Action("ModificarPedidoModal", new { idPedido = item.idPedido })">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    @*@if (item.pr == 0)
                    {
                        <button type="button" class="btn btn-danger" onclick="EliminarRegistro('@item.idPedido','esta paquetería','@ViewBag.UrlAPI')">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    }*@
                </td>
            </tr>         
            <tr class="collapseContainingDiv">
                <td colspan="11">
                    <div class="collapse accordion-collapse pt-2 pb-2 actualmodelItem" id='@id' style="width:100%; margin:0 auto;" onclick="NotClosed('@id')">
                        <div class="align-self-center pt-2 pb-2 card" style="width:100%;">
                            @if (item.PreciosProductos.Count != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="2">
                                                @Html.DisplayNameFor(item => item.pp.producto)
                                            </th>
                                            <th class="text-center">
                                                @Html.DisplayNameFor(item => item.pp.compraUnidadProducto)
                                            </th>                                         
                                            <th class="text-center">
                                                @Html.DisplayNameFor(item => item.pp.compraUnidadPublico)
                                            </th>
                                         
                                            <th class="text-center">
                                                @Html.DisplayNameFor(item => item.pp.importacion)
                                            </th>
                                           @* <th class="text-center">
                                                @Html.DisplayNameFor(item => item.pp.paqueteria)
                                            </th>
                                            <th class="text-center">
                                                @Html.DisplayNameFor(item => item.pp.tarifaEnvio)
                                            </th>
                                            <th class="text-center">
                                                @Html.DisplayNameFor(item => item.pp.precioPublico)
                                            </th>*@
                                            <th class="text-center">
                                                @Html.DisplayNameFor(item => item.pp.compraTotalProducto)
                                            </th>
                                            <th class="text-center">
                                                @Html.DisplayNameFor(item => item.pp.stockTotalRealTime)/Comprado
                                            </th>
                                            <th class="text-center">
                                                Acciones
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int j = 0;
                                        }
                                        @foreach (var pps in item.PreciosProductos)
                                        {
                                            string idM = "PP"+pps.idPrecioProducto+"-" + (j++);
                                            <tr class="align-middle">
                                                <td class="align-text-bottom">
                                                    <div class="align-text-bottom">
                                                        <img src="@pps.producto.urlImagenProducto" class="rounded d-block pt-2 pb-2" style="width:30px;margin-left:15px;">
                                                    </div>
                                                </td>
                                                <td >
                                                    @pps.producto.idProducto - @pps.producto.nombreProducto
                                                </td>
                                                <td class="text-center">
                                                    $@String.Format("{0:0.00}", pps.compraUnidadProducto)
                                                </td>
                                               
                                                <td class="text-center">
                                                    $@String.Format("{0:0.00}", pps.compraUnidadPublico)
                                                </td>
                                                <td class="text-center">
                                                    $@String.Format("{0:0.00}", pps.importacion)
                                                </td>
                                                <td class="text-center">
                                                    $@String.Format("{0:0.00}", pps.compraTotalProducto)
                                                </td>
                                                <td class="text-center">
                                                    @pps.stockTotalRealTime/@pps.stockTotalComprado
                                                </td>
                                             @*   <td class="text-center">
                                                    $@String.Format("{0:0.00}", pps.paqueteria)
                                                </td>
                                                <td class="text-center">
                                                    $@String.Format("{0:0.00}", pps.tarifaEnvio)
                                                </td>
                                                <td class="text-center">
                                                    $@String.Format("{0:0.00}", pps.precioPublico)
                                                </td>*@                                               
                                                <td class="text-center">
                                                    <button type="button" class="btn buttonsecondary" data-bs-toggle="collapse" data-bs-target="#@idM">
                                                        <i class="bi bi-box-seam-fill"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-info buttonclear" style="border-color: transparent;" data-toggle="ajax-modal" data-target="#EditarPrecioPedido" data-url="@Url.Action("EditarPrecioPedido", new { idPrecioPedido = pps.idPrecioProducto})">
                                                        <i class="bi bi-pencil-fill"></i>
                                                    </button>
                                                    @if (pps.detalleProductosModelos.Count == 0)
                                                    {
                                                        <button type="button" class="btn btn-outline-danger buttonclear" style="border-color: transparent;" onclick="EliminarRegistro('@pps.idPrecioProducto','este producto','@ViewBag.UrlAPIPP')">
                                                            <i class="bi bi-trash-fill"></i>
                                                        </button>
                                                    }                                                 
                                                </td>
                                            </tr>                           
                                            <tr class="collapseContainingDiv">
                                                <td colspan="11">
                                                    <div class="collapse accordion-collapse pt-2 pb-2 actualmodelItem" id='@idM' style="width:100%; margin:0 auto;" onclick="NotClosed('@idM')">
                                                        <div class="align-self-center mx-auto" style="width:50%;">
                                                            @if (pps.detalleProductosModelos.Count != 0)
                                                            {
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-center">
                                                                                Modelo
                                                                            </th>
                                                                            <th class="text-center">
                                                                               Stock Comprado
                                                                            </th>
                                                                            <th class="text-center">
                                                                               Stock Real Time
                                                                            </th>                                                              
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var m in pps.detalleProductosModelos)
                                                                        {
                                                                            <tr>
                                                                                <td>@m.DetalleModeloMarca</td>
                                                                                <td class="text-center">@m.stockProductoModelo</td>
                                                                                <td class="text-center">@m.stockRealTimeProductoModelo</td>
                                                                            </tr>                                                                           
                                                                        }
                                                                        <tr>
                                                                            <td class="text-center"><b>Totales</b></td>
                                                                            <td class="text-center">@pps.stockTotalComprado</td>
                                                                            <td class="text-center">@pps.stockTotalRealTime</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            }
                                                            else
                                                            {
                                                                <p class="text-center pt-3">Este producto no tiene stock registrado.</p>
                                                            }
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr> 
                                            }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p class="text-center pt-3">Este pedido no tiene productos registrados.</p>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
        
    </tbody>
</table>


<script>
    function EliminarRegistro(idPedido, frase, url) {
        const options = {
            method: 'DELETE'
        }
        var url = url + idPedido;
        Swal.fire({
            title: '¿Desea eliminar ' + frase + '?',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            showLoaderOnConfirm: true,
            preConfirm: (id) => {
                return fetch(url, options)
                    .then(response => {
                        console.log(response);
                        if (!response.ok) {
                            throw new Error(response.statusText)
                        }
                        return response.json()
                    })
                    .catch(error => {
                        Swal.showValidationMessage(
                            `Request failed: ${error}`
                        )
                    })
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    title: '¡Eliminado con éxito!',
                    showConfirmButton: false,
                    timer: 1500
                }).then((result) => {
                    window.location.reload();
                })
            }
        })
    }


</script>

